# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# resharper
_Resharper.*

# NuGet Packages (restore on build is enabled)
packages

# ncrunch
*ncrunch*